@model ThomasConstruction.Models.ProjectModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.project_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.project_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.customer.customer_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.customer.customer_name)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.budget)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.budget)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.profit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.profit)
        </dd>
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id_project" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>

    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
</div>
