@model IEnumerable<ThomasConstruction.Models.ProjectModel>

@{
    ViewData["Title"] = "Index";
}

<h3>Projects View</h3>

<p>
    <a class="btn btn-secondary" asp-action="Create">Create New</a>
</p>


<div class="container">
<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var item in Model) {
  <div class="col-sm-3 mb-3 mb-sm-0">
<div class="card">
  <div class="card-header">
    <strong> @Html.DisplayNameFor(model => model.project_name)</strong>: @Html.DisplayFor(modelItem => item.project_name)
  </div>
  <div class="card-body">
    <h4 class="card-title">Proyect Details</h4>
    <h6 class="card-title pricing-card-title">   
        @Html.DisplayNameFor(model => model.budget): @Html.DisplayFor(modelItem => item.budget)
    </h6>
    <h6 class="card-title pricing-card-title">   
        @Html.DisplayNameFor(model => model.cost): @Html.DisplayFor(modelItem => item.cost)
    </h6>
    <h6 class="card-title pricing-card-title">   
        @Html.DisplayNameFor(model => model.profit): @Html.DisplayFor(modelItem => item.profit)
    </h6>
    <h6 class="card-title pricing-card-title">   
        @Html.DisplayNameFor(model => model.project_date): @Html.DisplayFor(modelItem => item.project_date)
    </h6>
    <h6 class="card-title pricing-card-title">   
        @Html.DisplayNameFor(model => model.downpayment): @Html.DisplayFor(modelItem => item.downpayment)
    </h6>
    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.id_project">Delete</a> |
     <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.id_project">Edit</a>
  </div>
  <div class="card-footer text-body-secondary">
      <strong>@Html.DisplayNameFor(model => model.customer.customer_name)</strong>: @Html.DisplayFor(modelItem => item.customer.customer_name)
  </div>
  </div>
  </div>
  }
  </div>

</div>


@*
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.project_name)
            </th>
              <th>
                @Html.DisplayNameFor(model => model.customer.customer_name)
            </th>
           <th>
                @Html.DisplayNameFor(model => model.budget)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.profit)
            </th>
           
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.project_name)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.customer.customer_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.budget)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.cost)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.profit)
            </td>
           
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_project">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_project">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_project">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@
