@model IEnumerable<ThomasConstruction.ViewModels.ProjectIndexViewModel>

@{
    ViewData["Title"] = "Index";
}

<h3>Projects Information</h3>

<p>
    <a class="btn btn-secondary" asp-action="Create">Create New</a>
</p>


<div class="container">
<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var item in Model) {
  <div class="col-sm-3 mb-3 mb-sm-0">
<div class="card">
  <div class="card-header">
    <strong> @Html.DisplayNameFor(model => model.project_name)</strong>: @Html.DisplayFor(modelItem => item.project_name)
  </div>
  <div class="card-body">
    <div class="bg-secondary text-white text-center py-2 rounded-top">
    <h5 class="m-0">Project Details</h5>
</div>
      <div class="text-end">  
     <h6 class="card-title pricing-card-title">   
        @Html.DisplayNameFor(model => model.project_date): @Html.DisplayFor(modelItem => item.project_date)
    </h6>
    </div>
    <h6 class="card-title pricing-card-title">   
        @Html.DisplayNameFor(model => model.budget): <span  class="text-primary"">@Html.DisplayFor(modelItem => item.budget)</span>
    </h6>
    <h6>
      @Html.DisplayNameFor(model => model.totalChangeOrders): 
       <span class="text-primary"> @Html.DisplayFor(modelItem => item.totalChangeOrders)</span>
        </h6>

     <h6 class="card-title pricing-card-title">   
        @Html.DisplayNameFor(model => model.total_budget): <span  class="bg-primary text-white px-0">@Html.DisplayFor(modelItem => item.total_budget)
    </span></h6>

    <h6 class="card-title pricing-card-title">   
        @Html.DisplayNameFor(model => model.cost): <span class="bg-danger text-white px-2">
            @Html.DisplayFor(modelItem => item.cost)</span>
    </h6>
    <ul class="mb-2 ms-3" style="list-style-type: circle;">
    <li >
        <strong>@Html.DisplayNameFor(model => model.totalBills)</strong>: 
        <span class="text-danger">@Html.DisplayFor(modelItem => item.totalBills)</span>
       
    </li>
    <li>
           <strong>@Html.DisplayNameFor(model => model.totalReceipts)</strong>: 
       <span class="text-danger"> @Html.DisplayFor(modelItem => item.totalReceipts)</span>
    </li>
    <li>
           <strong>@Html.DisplayNameFor(model => model.totalSupplies)</strong>: 
        <span class="text-danger">@Html.DisplayFor(modelItem => item.totalSupplies)</span>
    </li>

    <li>
           <strong>@Html.DisplayNameFor(model => model.totalWorkers)</strong>: 
        <span class="text-danger">@Html.DisplayFor(modelItem => item.totalWorkers)</span>
    </li>

     <li>
           <strong>@Html.DisplayNameFor(model => model.totalSubContractor)</strong>: 
        <span class="text-danger">@Html.DisplayFor(modelItem => item.totalSubContractor)</span>
    </li>
  
    </ul>
   
   
    <h6 class="card-title pricing-card-title">   
        @Html.DisplayNameFor(model => model.downpayment):
        <span class="text-warning"> @Html.DisplayFor(modelItem => item.downpayment)</span>
    </h6>

     <h6 class="card-title pricing-card-title">   
        @Html.DisplayNameFor(model => model.totalPayments):<span class="bg-warning text-dark px-0">
             @Html.DisplayFor(modelItem => item.totalPayments)</span>
    </h6>

     <h6 class="card-title pricing-card-title">   
        @Html.DisplayNameFor(model => model.profit): 
         <span class="@(item.profit < 0 ? "bg-warning text-white px-0" : "bg-success text-white px-0")">
        @Html.DisplayFor(modelItem => item.profit)</span>
    </h6>
    <div class="text-end">
    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.id_project">Delete</a> |
     <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.id_project">Edit</a>
     </div>
  </div>
  <div class="card-footer text-body-secondary">
      <strong>@Html.DisplayNameFor(model => model.customer)</strong>: @Html.DisplayFor(modelItem => item.customer)
  </div>
  </div>
  </div>
  }
  </div>

</div>


@*
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.project_name)
            </th>
              <th>
                @Html.DisplayNameFor(model => model.customer.customer_name)
            </th>
           <th>
                @Html.DisplayNameFor(model => model.budget)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.profit)
            </th>
           
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.project_name)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.customer.customer_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.budget)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.cost)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.profit)
            </td>
           
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_project">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_project">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_project">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@
