@model IEnumerable<ThomasConstruction.Models.ChangeOrderModel>

@{
    ViewData["Title"] = "Index";
}

<h4>Change Orders List</h4>

<p>
   <a class="btn btn-secondary" asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th  scope="col">
                @Html.DisplayNameFor(model => model.change_date)
            </th>
              <th  scope="col">
                @Html.DisplayNameFor(model => model.project.project_name)
            </th>
           <th  scope="col">
                @Html.DisplayNameFor(model => model.amount)
            </th>

          
           
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.change_date)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.project.project_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
                      
           
            <td>
                <a asp-action="Edit" class="btn btn-sm btn-warning" asp-route-id="@item.id_change">Edit</a> |
                <a asp-action="Details" class="btn btn-sm btn-info" asp-route-id="@item.id_change">Details</a> |
                <a asp-action="Delete" class="btn btn-sm btn-danger" asp-route-id="@item.id_change">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
