@model ThomasConstruction.ViewModels.ProjectBillDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

 <div class="container mt-4">
    <div class="card shadow-lg rounded-4">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            <h4 class="mb-0">Bill Details</h4>
         <div class="d-flex gap-2">
            <a asp-action="Edit" class="btn btn-light btn-sm" asp-route-id="@Model?.id_project_bill">Edit</a>
            <a asp-action="Index" class="btn btn-light btn-sm">← Back to List</a>
            </div>
        </div>
        <div class="card-body">
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bill_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bill_date)
        </dd>
         
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.project)
        </dd>

         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bill)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bill)
        </dd>
        
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.amount)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.details)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.details)
        </dd>
      

    </dl>
</div>
<div>
    </div>
</div>
    
