@model IEnumerable<ThomasConstruction.Models.ReceiptModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.receipt_date)
            </th>
              <th>
                @Html.DisplayNameFor(model => model.project.project_name)
            </th>
           <th>
                @Html.DisplayNameFor(model => model.amount)
            </th>
          
           
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.receipt_date)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.project.project_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
                      
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_receipt">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_receipt">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_receipt">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
